<div class="card">
    <p-toast></p-toast>
    <span class="text-900 text-xl font-bold mb-4 block">Créer un contact</span>
    <p-progressBar mode="indeterminate" *ngIf="loading" class="w-full h-2"></p-progressBar>

    <div class="grid" *ngIf="!loading">
         
        <div class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="field mb-4 col-12 md:col-6">
                    <label for="role" class="font-medium text-900" >Role</label> 
                    <p-dropdown [(ngModel)]="contact.role"  [options]="roles"  optionLabel="name" 
                    placeholder="Sélectionnez un rôle"
                    [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.role || errors['role']}">
                </p-dropdown>
                <small *ngIf="errors['role']">{{ errors['role'] }}</small> 
                </div> 
                <div class="field mb-4 col-12 md:col-6">
                    <label for="country" class="font-medium text-900" >Civilitté</label> 
                    <p-dropdown id="civilite" [options]="civiliteOptions" optionLabel="label" optionValue="value"
                         [(ngModel)]="contact.civilite" placeholder="Sélectionnez une civilité" [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.civilite || errors['civilite']}">
                    </p-dropdown>
                    <small *ngIf="errors['civilite']">{{ errors['civilite'] }}</small>
                </div>
                <div class="field mb-4 col-12 md:col-12">
                    <label for="nom_complet" class="font-medium text-900">Nom complet</label>
                    <input id="nom_complet" type="text" pInputText [(ngModel)]="contact.nom_complet" [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.nom_complet || errors['nom_complet']}">
                     <small *ngIf="errors['nom_complet']">{{ errors['nom_complet'] }}</small>
                </div> 
                <div class="field mb-4 col-12 md:col-6">
                    <label for="email" class="font-medium text-900">Email</label>
                    <input id="email" type="text" [(ngModel)]="contact.email" 
                    [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.email || errors['email']}" pInputText>
                    <small *ngIf="errors['email']">{{ errors['email'] }}</small>
                </div>
                <div class="field mb-4 col-12 md:col-6">
                    <label for="phone" class="font-medium text-900">Phone</label>
                    <input id="phone" type="text" [(ngModel)]="contact.phone" [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.phone || errors['phone']}" pInputText>
                    <small *ngIf="errors['phone']">{{ errors['phone'] }}</small>
                </div> 
                <div class="field mb-4 col-12 md:col-12">
                    <label for="country" class="font-medium text-900" >Pays</label>
                    <p-dropdown [(ngModel)]="contact.adresse.pays" 
                                inputId="country"
                                [options]="countries"
                                optionLabel="name" 
                                optionValue="value" 
                                [filter]="true"  
                                filterBy="name" 
                                [showClear]="true" placeholder="Select a Country"
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.adresse.pays || errors['adresse.pays']}"
                                (onChange)="onCountryChange($event)">
                        <ng-template let-country pTemplate="item">
                            <div class="flex align-items-center">
                                <img src="assets/demo/images/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + country.code.toLowerCase()" style="width:18px"/>
                                <div>{{country.name}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <small *ngIf="errors['adresse.pays']">{{ errors['adresse.pays'] }}</small>
                </div>
             
                <!-- Champ adresse (visible seulement si le pays n'est pas Guinée) -->
                <div *ngIf="!isGuineeSelected" class="field mb-4 col-12 md:col-12">
                    <label for="adresse" class="font-medium text-900">Adresse</label>
                    <input id="adresse" type="text" [(ngModel)]="contact.adresse.adresse" [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.adresse.adresse || errors['adresse.adresse']}" pInputText >
                    <small *ngIf="errors['adresse.adresse']">{{ errors['adresse.adresse'] }}</small>
                </div>

                <!-- Champ code postal (visible seulement si le pays n'est pas Guinée) -->
                <div *ngIf="!isGuineeSelected" class="field mb-4 col-12 md:col-6">
                    <label for="city" class="font-medium text-900">Code Postal</label>
                    <input id="city" type="text" pInputText [(ngModel)]="contact.adresse.code_postal" [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.adresse.code_postal || errors['adresse.code_postal']}" >
                    <small *ngIf="errors['adresse.code_postal']">{{ errors['adresse.code_postal'] }}</small>
                </div>

                <!-- Champ quartier (visible seulement si le pays est Guinée) -->
                <div *ngIf="isGuineeSelected" class="field mb-4 col-12 md:col-6">
                    <label for="quartier" class="font-medium text-900">Quartier</label>
                    <input id="quartier" type="text" pInputText [(ngModel)]="contact.adresse.quartier" [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.adresse.quartier || errors['adresse.quartier']}" >
                    <small *ngIf="errors['adresse.quartier']">{{ errors['adresse.quartier'] }}</small>
                </div>

                <div class="field mb-4 col-12 md:col-6">
                    <label for="state" class="font-medium text-900" >Ville</label>
                    <input id="state" type="text" [(ngModel)]="contact.adresse.ville" [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.adresse.ville || errors['adresse.ville']}"  pInputText>
                    <small *ngIf="errors['adresse.ville']">{{ errors['adresse.ville'] }}</small>
                </div> 

                <div class="field mb-4 col-12 md:col-6">
                    <label for="city" class="font-medium text-900">Mot de passe</label>
                     <p-password 
                        id="password" required placeholder="mot de passe"
                        [(ngModel)]="contact.password" styleClass="w-full"  [inputStyle]="{paddingLeft: '2.5rem'}" 
                        inputStyleClass="w-full" [toggleMask]="true" 
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.password || errors['password']}" >
                    </p-password>
                    <small *ngIf="errors['password']">{{ errors['password'] }}</small>
                </div>
                <div class="field mb-4 col-12 md:col-6">
                    <label for="city" class="font-medium text-900">Confirmer mot de passe</label>
                     <p-password 
                        id="password_confirmation" required placeholder="Confirmer mot de passe"
                        [(ngModel)]="contact.password_confirmation" styleClass="w-full"  [inputStyle]="{paddingLeft: '2.5rem'}" 
                        inputStyleClass="w-full" [toggleMask]="true" 
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !contact.password_confirmation || errors['password']}" >
                    </p-password>
                 </div> 
                <div class="col-12">
                    <button pButton pRipple label="Creer utilisateur" class="w-auto mt-3" (click)="saveContact()"></button>
                </div>
            </div>
        </div>
    </div>
</div>