<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-confirmDialog></p-confirmDialog>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <button
            pButton
            pRipple
            label="Nouvelle commande"
            icon="pi pi-plus"
            class="p-button-success mr-2"
            (click)="onGoToNewCommande()"
          ></button>
        </ng-template>

        <ng-template pTemplate="right">
          <button
            pButton
            pRipple
            label="Exporter"
            icon="pi pi-upload"
            class="p-button-help"
            (click)="dt.exportCSV()"
          ></button>
        </ng-template>
      </p-toolbar>

      <p-table
        #dt
        [value]=" loading ? skeletonRows : commandes"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 20, 30]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{first} à {last} sur {totalRecords} commandes"
        [globalFilterFields]="['numero', 'contact.nom_complet', 'statut']"
        [(selection)]="selectedCommande"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="id"
        responsiveLayout="scroll"
      >
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Liste des commandes</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter(dt, $event)" 
                placeholder="Recherche..."
                class="w-full sm:w-auto"
              />
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="numero">
              N° Commande <p-sortIcon field="numero"></p-sortIcon>
            </th>
            <th pSortableColumn="contact.nom_complet">
              Livreur <p-sortIcon field="contact.nom_complet"></p-sortIcon>
            </th>
            <th pSortableColumn="montant_total">
              Total <p-sortIcon field="montant_total"></p-sortIcon>
            </th>
            <th>
              Qté totale
            </th>
            <th pSortableColumn="statut">
              Statut <p-sortIcon field="statut"></p-sortIcon>
            </th>
            <th>Actions</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-commande>
          <tr *ngIf="loading">
                        <td><p-skeleton width="6rem" /></td>
                        <td><p-skeleton width="10rem" /></td>
                        <td><p-skeleton width="8rem" /></td>
                        <td><p-skeleton width="12rem" /></td>
                        <td><p-skeleton width="10rem" /></td>
                        <td><p-skeleton width="6rem" /></td>
                        <td>
                            <p-skeleton
                                width="5rem"
                                height="2rem"
                                borderRadius="1rem"
                            />
                        </td>
                    </tr>
          <tr *ngIf="!loading">
            <td>
              <p-tableCheckbox [value]="commande"></p-tableCheckbox>
            </td>
            <td>{{ commande.numero }}</td>
            <td>{{ commande.contact?.nom_complet }}</td>
            <td>{{ commande.montant_total | number: '1.0-0' }} GNF</td>
            <td>{{ commande.qte_total }}</td>
            <td>{{ commande.statut }}</td>
            <td>
             <!-- Bouton selon le statut -->
<ng-container [ngSwitch]="commande.statut">
   <!-- Bouton view -->
   <button
                pButton
                pRipple
                icon="pi pi-eye"
                class="p-button-rounded p-button-suces mr-2"
                (click)="viewCommande(commande)"
              ></button>
  <!-- Brouillon : bouton de validation -->
  <button
    *ngSwitchCase="'brouillon'"
    pButton
    pRipple 
    icon="pi pi-check"
    class="p-button-rounded p-button-info mr-2"
    tooltip="Valider la commande"
    (click)="validerCommande(commande)"
  ></button>

  <!-- Livraison en cours -->
<!-- Livraison en cours : redirige vers la page de livraison -->
<button
  *ngSwitchCase="'livraison_en_cours'"
  pButton
  pRipple
  icon="pi pi-truck"
  class="p-button-rounded p-button-warning mr-2"
  tooltip="Voir les livraisons"
  (click)="onGoToLivraisonNew(commande)"
></button>


  <!-- Livré -->
  <button
    *ngSwitchCase="'livré'"
    pButton
    pRipple
    icon="pi pi-box"
    class="p-button-rounded p-button-success mr-2"
    tooltip="Commande livrée"
    disabled
  ></button>

  <!-- Payé -->
  <button
    *ngSwitchCase="'payé'"
    pButton
    pRipple
    icon="pi pi-credit-card"
    class="p-button-rounded p-button-success mr-2"
    tooltip="Commande payée"
    disabled
  ></button>

  <!-- Annulé -->
  <button
    *ngSwitchCase="'annulé'"
    pButton
    pRipple
    icon="pi pi-ban"
    class="p-button-rounded p-button-secondary mr-2"
    tooltip="Commande annulée"
    disabled
  ></button>

  <!-- Statut inconnu -->
  <button
    *ngSwitchDefault
    pButton
    pRipple
    icon="pi pi-question"
    class="p-button-rounded p-button-help mr-2"
    tooltip="Statut inconnu"
    disabled
  ></button>

</ng-container>

            </td>
          </tr>
        </ng-template>
      </p-table>

      <p-dialog
        [(visible)]="commandeDetailDialog"
        [style]="{ width: '600px' }"
        [header]="'Commande n° : ' + selectedCommande?.numero"
        [modal]="true"
        class="p-fluid"
      >
        <ng-template pTemplate="content">
          <div class="field">
            <label><strong>Statut :</strong></label>
            <div>{{ selectedCommande?.statut }}</div>
          </div>

          <div class="field">
            <label><strong>Livreur :</strong></label>
            <div>{{ selectedCommande?.contact?.nom_complet }}</div>
          </div>

          <div class="field">
            <label><strong>Date :</strong></label>
            <div>{{ selectedCommande?.created_at | date:'medium' }}</div>
          </div>

          <hr />

          <div class="formgrid grid mb-4">
            <div class="field col">
              <label><strong>Total :</strong></label>
              <div>{{ selectedCommande?.montant_total | number }} GNF</div>
            </div>
            <div class="field col">
              <label><strong>Remise :</strong></label>
              <div>{{ selectedCommande?.reduction | number }} GNF</div>
            </div>
          </div>

          <hr />

          <div class="field">
            <label><strong>Produits commandés :</strong></label>
            <p-table [value]="selectedCommande?.lignes" responsiveLayout="scroll">
              <ng-template pTemplate="header">
                <tr>
                  <th>Produit</th>
                  <th>Quantité</th>
                  <th>Prix unitaire</th>
                  <th>Sous-total</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-ligne>
                <tr>
                  <td>{{ ligne.produit?.nom }}</td>
                  <td>{{ ligne.quantite }}</td>
                  <td>{{ ligne.prix_vente | number }} GNF</td>
                  <td>{{ ligne.quantite * ligne.prix_vente | number }} GNF</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </ng-template>

        <ng-template pTemplate="footer">
          <button
            pButton
            pRipple
            label="Fermer"
            icon="pi pi-times"
            class="p-button-text"
            (click)="commandeDetailDialog = false"
          ></button>
          <button
            pButton
            pRipple
            label="Detail"
            icon="pi pi-pencil"
            class="p-button-text"
            (click)="onGoToDetailCommande(selectedCommande)"
          ></button>
        </ng-template>
      </p-dialog> 
    </div>
  </div>
</div>
