<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <h2>Détail du packing</h2>

      <div *ngIf="packing">
        <p><b>Référence :</b> {{ packing.reference }}</p>
        <p><b>Employé :</b> {{ packing.user?.nom_complet }}</p>
        <p><b>Date :</b> {{ packing.date | date }}</p>
        <p><b>Heure début :</b> {{ packing.heure_debut }}</p>
        <p><b>Heure fin :</b> {{ packing.heure_fin }}</p>
        <p><b>Statut :</b> {{ packing.statut }}</p>

        <p-table [value]="packing.lignes" responsiveLayout="scroll">
          <ng-template pTemplate="header">
            <tr>
              <th>Produit</th>
              <th>Quantité utilisée</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-ligne>
            <tr>
              <td>{{ ligne.produit?.nom }}</td>
              <td>{{ ligne.quantite_utilisee }}</td>
            </tr>
          </ng-template>
        </p-table>

        <button pButton label="Retour à la liste" icon="pi pi-arrow-left" class="mt-4" routerLink="/dashboard/packing/"></button>
      </div>

      <p *ngIf="loading">Chargement...</p>
      <p *ngIf="errorMessage" class="text-red-500">{{ errorMessage }}</p>
    </div>
  </div>
</div>
