<div class="grid">
  <div class="col-12">
    <div class="card">
      <h5>Livraisons groupées par commande</h5>
      <p-toast></p-toast>


      <p-table
        #dt1
        [value]="loading ? skeletonRows : groupedLivraisons"
        dataKey="numeroCommande"
        [expandedRowKeys]="expandedRows"
        responsiveLayout="scroll"
      >
        <ng-template pTemplate="caption">
          <div class="flex table-header justify-content-between flex-column sm:flex-row">
            <button
              pButton
              icon="pi pi-fw {{ isExpanded ? 'pi-minus' : 'pi-plus' }}"
              label="{{ isExpanded ? 'Tout réduire' : 'Tout développer' }}"
              (click)="toggleExpandAll()"
            ></button>

            <button
              pButton
              label="Effacer"
              class="p-button-outlined mb-2"
              icon="pi pi-filter-slash"
              (click)="clear(dt1)"
            ></button>

            <span class="p-input-icon-left mb-2">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter(dt1, $event)"
                placeholder="Mot-clé de recherche"
                class="w-full"
              />
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th>Commande</th>
            <th>Réf Livraison</th>
            <th>Livreur</th>
            <th>Qté totale</th>
            <th>Actions</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-group let-expanded="expanded">
          <tr *ngIf="loading">
            <td><p-skeleton width="6rem" /></td>
            <td><p-skeleton width="10rem" /></td>
            <td><p-skeleton width="8rem" /></td>
            <td><p-skeleton width="5rem" /></td>
            <td><p-skeleton width="3rem" height="2rem" borderRadius="1rem" /></td>
          </tr>
          <tr *ngIf="!loading">
            <td>
              <button
                type="button"
                pButton
                pRipple
                [pRowToggler]="group"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
              >
                {{ group.numeroCommande }}
              </button>
            </td>
            <td>{{ group.livraisons[0]?.reference }}</td>
            <td>{{ group.livreur?.nom_complet }}</td>
            <td>{{ group.quantite_total }}</td>
            <td>
              <button 
                pButton
                pRipple
                icon="pi pi-eye"
                class="p-button-rounded p-button-success mr-2"
                (click)="viewLivraison(group)"
              ></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="rowexpansion" let-group>
          <tr>
            <td colspan="5">
              <div class="p-3">
                <p-table [value]="group.livraisons" responsiveLayout="scroll">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Client</th>
                      <th>Réf Livraison</th>
                      <th>Date livraison</th>
                      <th>Qté</th>
                      <th>Statut</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-liv>
                    <tr>
                      <td>{{ liv.client?.nom_complet }}</td>
                      <td>{{ liv.reference }}</td>
                      <td>{{ liv.date_livraison | dateFr }}</td>
                      <td>{{ liv.quantite_total }}</td>
                      <td>{{ liv.statut }}</td>
                    </tr>
                  </ng-template> 
                </p-table>
              </div>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">Aucune livraison trouvée.</td>
          </tr>
        </ng-template>
      </p-table>

      <p-dialog
        [(visible)]="livraisonDetailDialog"
        [style]="{ width: '800px' }"
        [header]="'Commande n° : ' + selectedLivraison?.numeroCommande"
        [modal]="true"
        class="p-fluid"
      >
        <ng-template pTemplate="content">
          <div class="field">
            <label><strong>Statut global :</strong></label>
            <div>Livré</div>
          </div>

          <div class="field">
            <label><strong>Livreur :</strong></label>
            <div>{{ selectedLivraison?.livreur?.nom_complet }}</div>
          </div>

          <div class="field">
            <label><strong>Date :</strong></label>
            <div>{{ selectedLivraison?.livraisons[0]?.created_at | dateFr  }}</div>
          </div>

          <hr />

          <div class="field" *ngFor="let liv of selectedLivraison?.livraisons">
            <h6>Client : {{ liv.client?.nom_complet }}</h6>

            <p-table [value]="liv.lignes" responsiveLayout="scroll">
              <ng-template pTemplate="header">
                <tr>
                  <th>Produit</th>
                  <th>Quantité</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-ligne>
                <tr>
                  <td>{{ ligne.produit?.nom }}</td>
                  <td>{{ ligne.quantite }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr><td colspan="2">Aucun produit livré.</td></tr>
              </ng-template>
            </p-table>
            <hr />
          </div>
        </ng-template>

        <ng-template pTemplate="footer">
          <button
            pButton
            label="Créer une livraison"
            icon="pi pi-times"
            class="p-button-text"
            (click)="onGoToNewLivraison(selectedLivraison.numeroCommande)"
          ></button> 
          <button
            pButton
            label="Détails"
            icon="pi pi-arrow-right"
            class="p-button-text"
            (click)="onGoToDetailLivraison(selectedLivraison.livraisons[0])"
          ></button>
        </ng-template>
      </p-dialog>
    </div>
  </div>
</div>
