<div class="card">
    <div class="grid grid-nogutter">
        <div class="col-12 px-4 mt-4 md:mt-6 md:px-6">
            <span class="text-900 block font-bold text-xl">Envoiyer de l'argent</span>
        </div>
        <div class="col-12 lg:col-6 h-full px-4 py-4 md:px-6">
            <ul class="flex list-none flex-wrap p-0 mb-6">
                <li class="flex align-items-center text-primary mr-2">Saisie d'nformation <i class="pi pi-chevron-right text-500 text-xs ml-2"></i></li>
            </ul>
            <div class="grid formgrid"> 
                <div class="col-12 field mb-4">
                    <label for="cities" class="font-medium text-900" >Quartier</label>
                    <p-dropdown 
                          [options]="cities" 
                          [(ngModel)]="transfert.quartier" 
                           optionLabel="name" 
                           optionValue="name"
                           styleClass="w-full"
                           [showClear]="true"
                           placeholder="Sélectionnez un quartier" 
                          [ngClass]="{'ng-invalid ng-dirty' : submitted && !transfert.quartier || errors['quartier']}"
                          >
                        </p-dropdown>
                    <small *ngIf="errors['quartier']">{{ errors['quartier'] }}</small>
                </div>   
                <div class="col-12 field mb-4">
                    <span class="text-900 text-2xl block font-medium mb-4">Montant</span>
                    <input id="receveur_phone" [(ngModel)]="transfert.montant_expediteur" (input)="calculFraisTotal()" [ngClass]="{'ng-invalid ng-dirty': submitted && !transfert.montant_expediteur || errors['montant_expediteur']}"  placeholder="Montant" type="number" class="p-inputtext w-full">
                    <small *ngIf="errors['montant_expediteur']">{{ errors['montant_expediteur'] }}</small>
                </div> 

                <!-- RECEVEUR -->
                <div class="col-12 field mb-4">
                    <span class="text-900 text-2xl block font-medium mb-4">Receveur</span>
                    <input id="receveur_phone" [(ngModel)]="transfert.receveur_phone" [ngClass]="{'ng-invalid ng-dirty' : submitted && !transfert.receveur_phone || errors['receveur_phone']}" placeholder="Téléphone" type="text" class="p-inputtext w-full">
                    <small *ngIf="errors['receveur_phone']">{{ errors['receveur_phone'] }}</small>
                </div> 
                <div class="col-12 lg:col-12 field mb-4">
                    <input id="receveur_nom_complet" [(ngModel)]="transfert.receveur_nom_complet" 
                    [ngClass]="{'ng-invalid ng-dirty' : submitted && !transfert.receveur_nom_complet || errors['receveur_nom_complet']}"
                     placeholder="Nom complet *" type="text" class="p-inputtext w-full">
                    <small *ngIf="errors['receveur_nom_complet']">{{ errors['receveur_nom_complet'] }}</small>
                </div>
 
                <!-- EXPEDITEUR -->
                <div class="col-12 field mb-4">
                    <span class="text-900 text-2xl block font-medium mb-4">Expediteur</span>
                    <input id="expediteur_phone" [(ngModel)]="transfert.expediteur_phone" [ngClass]="{'ng-invalid ng-dirty' : submitted && !transfert.expediteur_phone || errors['expediteur_phone']}" placeholder="Téléphone" type="text" class="p-inputtext w-full">
                    <small *ngIf="errors['expediteur_phone']">{{ errors['expediteur_phone'] }}</small>
                </div>  
                <div class="col-12 lg:col-12 field mb-4">
                    <input id="expediteur_nom_complet" [(ngModel)]="transfert.expediteur_nom_complet" 
                         [ngClass]="{'ng-invalid ng-dirty' : submitted && !transfert.expediteur_nom_complet || errors['expediteur_nom_complet']}" 
                         placeholder="Nom complet *" type="text" class="p-inputtext w-full">
                    <small *ngIf="errors['expediteur_nom_complet']">{{ errors['expediteur_nom_complet'] }}</small>
                </div>
                <div class="col-12 field mb-2">
                    <input id="expediteur_email" [(ngModel)]="transfert.expediteur_email" [ngClass]="{'ng-invalid ng-dirty' : submitted && !transfert.expediteur_email || errors['expediteur_email']}" placeholder="Email" type="text" class="p-inputtext w-full mb-4">
                    <small *ngIf="errors['expediteur_email']">{{ errors['expediteur_email'] }}</small>

                </div>
                 
                <!-- <div class="col-12 flex flex-column lg:flex-row justify-content-center align-items-center lg:justify-content-end my-6">
                    <button pButton pRipple class="p-button-secondary p-button-outlined mt-3 lg:mt-0 w-full lg:w-auto flex-order-2 lg:flex-order-1 lg:mr-4" label="Annuler" icon="pi pi-fw pi-arrow-left"></button>
                </div> -->
            </div>
        </div>

        <!-- RECAPITULATIF -->
        <div class="col-12 lg:col-6 px-4 py-4 md:px-6">
            <div class="pb-3 surface-border">
                <span class="text-900 font-medium text-xl">Ticket</span>
            </div>
            <div>
                <div class="flex flex-column lg:flex-row flex-wrap lg:align-items-center py-2 mt-3 surface-border">
                    <div class="flex-auto lg:ml-3">
                        <div class="flex align-items-center justify-content-between mb-3">
                            <span class="text-900 font-bold">Receveur</span>
                            <span class="text-900 font-bold">GNF {{ montantConverti }}</span>
                        </div>
                        <div class="text-600 text-sm mb-2">{{ transfert.receveur_nom_complet }}</div>
                        <div class="text-600 text-sm mb-2">{{ transfert.receveur_phone }}</div>
                    </div>
                </div>
                <div class="flex flex-column lg:flex-row flex-wrap lg:align-items-center py-2 mt-3 surface-border">
                    <div class="flex-auto lg:ml-3">
                        <div class="flex align-items-center justify-content-between mb-3">
                            <span class="text-900 font-bold">Expéditeur</span>
                            <span class="text-900 font-bold">France</span>
                        </div>
                        <div class="text-600 text-sm mb-2">{{ transfert.expediteur_nom_complet }}</div>
                        <div class="text-600 text-sm mb-2">{{ transfert.expediteur_phone }}</div>
                        <div class="text-600 text-sm mb-2">{{ transfert.expediteur_email }}</div>
                    </div>
                </div>
                <div class="py-2 mt-3">
                    <div class="flex justify-content-between align-items-center mb-3">
                        <span class="text-900 font-medium">Montant envoyé</span>
                        <span class="text-900 font-bold">€ {{ transfert.montant_expediteur }}</span>
                    </div>
                    <div class="flex justify-content-between align-items-center mb-3">
                        <span class="text-900 font-medium">Frais</span>
                        <span class="text-900">€ {{ frais }}</span>
                    </div>
                    <div class="flex justify-content-between align-items-center mb-3">
                        <span class="text-900 font-bold">Total</span>
                        <span class="text-900 font-medium text-xl text-primary font-bold">{{ total }}</span>
                    </div>
                </div>
                
                <!-- <button pButton pRipple class="col-12 my-2" label="openTicket" icon="pi pi-fw pi-check" (click)="openTicketDialog()"></button> -->
                   
                <button pButton pRipple class="col-12"   label="Valider le transfert" icon="pi pi-fw pi-check" (click)="verifierFormulaire()"></button>
            </div>
              
        </div>

        <p-dialog 
         [(visible)]="envoieDialog"
         header="Confirmer l'envoie" 
         [modal]="true" 
         [closable]="false" 
         [style]="{width:'450px'}"
         >
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Montan : <b>{{ transfert.montant_receveur }} GNF</b></span>
            </div>
            <div class="flex align-items-center justify-content-center">
                <span>à  <b>{{ transfert.receveur_nom_complet }}</b> ?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="hideDialog()"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="save()" [loading]="loading"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="ticketDialog"  [closable]="false"  header="Ticket de retrait" [modal]="true" [style]="{width:'450px'}">
            <div class=""> 
                <div>
                    <div class="flex flex-column lg:flex-row flex-wrap lg:align-items-center py-0 mt-2 surface-border">
                        <div class="flex-auto lg:ml-3">
                            <div class="flex align-items-center justify-content-between mb-2">
                                <span class="text-900 font-bold">CODE : <span class="text-600"> {{ transfert.code }}</span> </span>
                             </div>
                          </div>
                    </div>
                    <div class="flex flex-column lg:flex-row flex-wrap lg:align-items-center py-0 mt-2 surface-border">
                        <div class="flex-auto lg:ml-3">
                            <div class="flex align-items-center justify-content-between mb-2">
                                <span class="text-900 font-bold">Montant : <span class="text-600"> {{ montantConverti }} GNF</span> </span>
                             </div>
                          </div>
                    </div>
                    <div class="flex flex-column lg:flex-row flex-wrap lg:align-items-center py-2 mt-1 surface-border">
                        <div class="flex-auto lg:ml-3">
                            <div class="flex align-items-center justify-content-between mb-2">
                                <span class="text-900 font-bold">Bénéficiaire</span>
                             </div>
                            <div class="text-600 text-sm mb-2">{{ transfert.receveur_nom_complet }}</div>
                            <div class="text-600 text-sm mb-2">Tel : {{ transfert.receveur_phone }}</div>
                            <!-- <div class="text-600 text-sm mb-2">Montant : GNF {{ montantConverti }}</div> -->
                        </div>
                    </div>
                    <div class="flex flex-column lg:flex-row flex-wrap lg:align-items-center py-2 mt-1 surface-border">
                        <div class="flex-auto lg:ml-3">
                            <div class="flex align-items-center justify-content-between mb-2">
                                <span class="text-900 font-bold">Agence</span>
                                <!-- <span class="text-900 font-bold">Conakry</span> -->
                            </div>
                            <div class="text-600 text-sm mb-2">Tel : 666 17 70 06</div>
                            <div class="text-600 text-sm mb-2">Adresse : Cosa pharmacie / Conakry</div>
                        </div>
                    </div>
                    <div class="py-2 mt-3"> 
                        <div class="flex justify-content-between align-items-center mb-3">
                            <span class="text-900 font-medium">Date d'envoie</span>
                            <span class="text-900"> 08/03/20258</span>
                        </div> 
                    </div> 
                </div>
                 
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Fermer" (click)="hideTicketDialog()"></button>
            </ng-template>
        </p-dialog>
        <p-toast></p-toast>
    </div>
</div>